[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/nanoflann"]
	path = external/nanoflann
	url = git@github.com:jlblancoc/nanoflann.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/imguizmo"]
	path = external/imguizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
[submodule "external/openmesh"]
	path = external/openmesh
	url = https://github.com/DerAndereDomenic/OpenMesh.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
